.cart_main_page {
    .container {
        .cart-content {
            display: flex;

            .cart-header {
                flex: 1 50%;
            }
            .cart-body {
                flex: 1 50%;
            }
            // .cart-footer {
            //     flex: 1 50%;
            // }
        }
    }
}
