//  importing the variables from variables scss and using.

@import "../../styles/vendors/_variables.scss";
@import "./_card.scss";
@import "./_header.scss";
@import "./_banner.scss";
@import "./_layout.scss";
@import "./_sideMenu.scss";
@import "./_footer.scss";
@import "./_cartpage.scss";
@import "./_buttons.scss";
@import "./_trendingcards.scss";

// * {
//     margin: 0;
//     padding: 0;
// }
* {
    box-sizing: border-box;
}
body {
    // background: #9dc0d4;
    // background: url("../../../images/Login/loginbg.webp");
    font-family: "TeluguFonts";
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 12px;
    // background-color: cadetblue;
}
// login page

.Login-Page {
    background-color: rgb(44, 42, 42);
    .login-section {
        padding-top: 35vh;
        padding-bottom: 20vh;
        .Login-Page-container {
            background-color: rgb(241, 241, 239);
            margin: auto;
            width: 400px;
            height: 400px;
            border-radius: 10px;
            padding-bottom: 20px;
            box-shadow: 10px 10px 5px lightblue;
            display: flex;
            justify-content: center;
            align-items: center;

            .Login-Page-content {
                .login-header {
                    padding: 22px;
                    color: rgb(190, 68, 84);
                    font-size: large;
                    font-weight: 700;
                    justify-content: flex-end;
                    margin-right: 5px;
                }
                .login-body {
                    .form input {
                        margin: 1.8vh;
                        padding: 1.5vh;
                        border-radius: 5px;
                    }
                    .form .form_footer button {
                        padding: 1.2vh;
                        width: auto;
                        color: aliceblue;
                        background-color: rgb(44, 101, 207);
                        border-radius: 10px;
                    }
                    .form .login-body-header {
                        font-size: x-large;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

//  register page

.register-page {
    // background-image: url("../../../images/Header/");
    .register-section {
        .container {
            margin: auto;
            margin-top: 20vh;
            margin-bottom: 20vh;
            width: 500px;
            height: auto;
            border-radius: 10px;
            background-color: rgb(129, 230, 109);
            box-shadow: 10px 10px 5px lightblue;
            display: flex;
            justify-content: center;
            align-items: center;

            .register-content {
                .register-header {
                    margin-left: 30vh;
                    padding: 22px;
                    color: rgb(255, 11, 72);
                    font-size: large;
                    font-weight: 700;
                }
                .register-body {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    .form .form_content {
                        width: 100%;
                        input {
                            padding: 1.5vh;
                            border-radius: 5px;
                            width: 100%;
                            margin: 0 0 2vh 0;
                        }
                        button {
                            width: 100%;
                            padding: 7px 7px;
                            background-color: #145288;
                            border-radius: 5px;
                            outline: none;
                            border: 1px solid #766969;
                            cursor: pointer;
                            color: #fff;
                        }
                    }
                    .form .register-body-header {
                        font-size: x-large;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

//  contact page

.Contact-Page {
    .Contact-Page-section {
        .Contact-Page-container {
            .Contact-Page-content {
                .Contact-Page-header {
                    h1 {
                        background-color: rgb(122, 122, 121);
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .Contact-Page-body {
                }
            }
        }
    }
}

// create post page

.create-post-Page {
    background-color: rgb(121, 230, 166);
    .create-Post-Section {
        padding: 60px 0px;
        .create-post-title {
            color: white;
            font-size: x-large;
        }
        .create-Post-Card {
            max-width: 500px;
            margin: 0 auto;
            background-color: rgb(135, 140, 189);
            padding: 10px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            .create-Post-Body {
                .form {
                    .username-input {
                        display: flex;
                    }
                    input {
                        width: 100%;
                        margin: 2px;
                        outline: none;
                        border: 1px solid #585252;
                        border-radius: 5px;
                        padding: 8px 10px;
                    }

                    button {
                        width: 100%;
                        padding: 7px 7px;
                        background-color: $lightBlueColor;
                        outline: none;
                        border: 1px solid #766969;
                        border-radius: 5px;
                        cursor: pointer;
                        color: #fff;
                        &:hover {
                            background-color: $darkBlueColor;
                        }
                    }
                }
            }
        }
    }
}
