// Header page

.Header {
    background-color: rgb(147, 218, 218);
    // height: 100%;
    // width: 100%;
}

.header-logo {
    img {
        height: 80px;
        width: 112px;
        border-radius: 50%;
    }
}
.header-body {
    display: flex;
    width: 100%;
    .header-logo {
        display: flex;
        width: 50%;
        background-color: rgb(49, 101, 146);
        justify-content: flex-start;
        padding-left: 20px;
    }
    .navbar {
        width: 50%;
        background-color: rgb(49, 101, 146);
        ul {
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            border: 1;
            margin-right: 5vh;
            li {
                padding: 2vh;
                margin-right: 5px;
                text-decoration: none;
                border: 2px solid rgb(30, 31, 32);
                border-radius: 10px;
                a {
                    display: flex;
                    color: aliceblue;
                    height: 5px;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

a {
    align-items: center;
    text-decoration: none;
}

.header-container {
    height: 100%;
    width: 100%;
}
